{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hi there 👋, I'm Aditya
          Hard working and self motivated
        </p>
        <p>
          I am Aditya from India. I am passionate about AWS | Devops | Python and working with Technology and explore its capabilities and enjoy the process of learning.
        </p>
        <p>
          Skills: Python | Docker | Kubernetes | AWS | Networking | MySQL | UNIX | HTML | CSS | Ansible | Terraform | Jenkins | Pycharm | VScode | Git |
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
